@font-face {
  font-family: "Kumbh Sans";
  src: url("../assets/fonts/KumbhSans-VariableFont_YOPQ,wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
}

img[alt="menu icon"],
img[alt="close menu icon"],
img[alt="trash icon"] {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
}

.cart-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart-container .badge {
  font-size: 0.625rem;
  color: white;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 0;
  padding: 3px 6px 3px 6px;
  background-color: #FF7E1B;
  border-radius: 999px;
  position: absolute;
  top: -5px;
  left: calc(100% - 10px);
}

ins {
  text-decoration: none;
}

button:active,
button:hover {
  background-color: #FFAB6A !important;
}

@media (max-width: 48rem) {
  header {
    position: relative;
    margin: 19px 23.75px 24px 23.75px;
  }
  header img[alt="menu icon"] {
    margin-right: 16px;
  }
  header h1 {
    height: 20px;
    overflow: hidden;
    margin-right: auto;
  }
  header h1 img {
    position: relative;
    top: -12px;
  }
  header img[alt="user image"] {
    width: 24px;
    margin-left: 24px;
  }
  header nav {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 24px;
    background-color: white;
    transition: left 0.3s ease;
  }
  header nav img {
    width: 13.44px;
    margin-bottom: 32px;
  }
  header nav a {
    font-size: 1.125rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
  }
  header .hide-nav {
    left: -250px;
  }
  .basket-card {
    position: absolute;
    z-index: 4;
    top: calc(100% + 34px);
    left: -11.875px;
    width: calc(100% + 23.75px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 50px 0 rgba(29, 32, 38, 0.1);
  }
  .basket-card h3 {
    font-size: 1rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    margin: 24px 12px 23px 12px;
  }
  .basket-card hr {
    border: none;
    height: 1px;
    background-color: #F6F8FD;
  }
  .basket-card .cart-list {
    padding: 25px 25.5px 24px 25.5px;
  }
  .basket-card button {
    width: calc(100% - 48px);
    margin: 0 24px 25px 24px;
  }
  .cart-list {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }
  .cart-list .cart-item {
    display: flex;
    align-items: center;
    gap: 0 16px;
    height: 52px;
  }
  .cart-list img[alt="product thumbnail"] {
    height: 100%;
    border-radius: 4px;
  }
  .cart-list p {
    font-size: 1rem;
    color: #69707D;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    margin-right: auto;
  }
  .cart-list strong {
    color: #1D2026;
  }
  .product-container {
    position: relative;
    overflow: hidden;
  }
  .carousel-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .carousel-buttons span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    cursor: pointer;
  }
  .carousel-buttons img {
    width: 10px;
  }
  .product-slide {
    width: 100%;
    display: flex;
  }
  .product-slide img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  .thumbnail-container {
    display: none;
  }
  article {
    margin: 24px 24px 0 24px;
    padding-bottom: 70px;
  }
  article span.caption {
    font-size: 0.75rem;
    color: #69707D;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 1.85px;
    display: inline-block;
    margin-bottom: 16px;
  }
  article h2 {
    font-size: 1.75rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    margin-bottom: 16px;
  }
  article p {
    font-size: 0.937rem;
    color: #69707D;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    margin-bottom: 32px;
  }
  article .price {
    display: flex;
    align-items: center;
    gap: 0 16px;
  }
  .price {
    margin-bottom: 32px;
  }
  .price ins {
    font-size: 1.75rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
  }
  .price span {
    font-size: 1rem;
    color: white;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    display: inline-block;
    margin-right: auto;
    background-color: #1D2026;
    width: 51px;
    height: 27px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }
  .price del {
    font-size: 1rem;
    color: #69707D;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
  }
  .input-button {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }
  .input-container {
    display: flex;
    align-items: center;
    padding: 15px 18.5px 15px 18.5px;
    background-color: #F6F8FD;
    border-radius: 10px;
  }
  .input-container input {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    width: 100%;
    border: none;
    text-align: center;
    background-color: #F6F8FD;
  }
  .input-container span {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  button {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 16px;
    border: none;
    height: 56px;
    background-color: #FF7E1B;
    border-radius: 10px;
    cursor: pointer;
  }
  button img {
    filter: brightness(0) saturate(100%) invert(11%) sepia(2%) saturate(3189%) hue-rotate(175deg) brightness(100%) contrast(95%);
  }
  .overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 48.063rem) and (max-width: 64rem) {
  header {
    position: relative;
    margin: 28px 80px 0 80px;
    padding-bottom: 32px;
  }
  header img[alt="menu icon"] {
    margin-right: 16px;
  }
  header h1 {
    height: 20px;
    overflow: hidden;
    margin-right: auto;
  }
  header h1 img {
    position: relative;
    top: -13px;
  }
  header img[alt="user image"] {
    width: 50px;
    margin-left: 48px;
  }
  header nav {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 301px;
    height: 100%;
    padding: 48px 0 0 80px;
    background-color: white;
    transition: left 0.3s ease;
  }
  header nav img {
    width: 13.44px;
    margin-bottom: 32px;
  }
  header nav a {
    font-size: 1.125rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
  }
  header .hide-nav {
    left: -301px;
  }
  header::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E4E9F2;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .basket-card {
    position: absolute;
    z-index: 4;
    top: calc(100% - 16px);
    left: calc(100% - 300px);
    min-width: 370px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 50px 0 rgba(29, 32, 38, 0.1);
  }
  .basket-card h3 {
    font-size: 1rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    margin: 24px 12px 23px 12px;
  }
  .basket-card hr {
    border: none;
    height: 1px;
    background-color: #F6F8FD;
  }
  .basket-card .cart-list {
    padding: 25px 25.5px 24px 25.5px;
  }
  .basket-card button {
    width: calc(100% - 48px);
    margin: 0 24px 25px 24px;
  }
  .cart-list {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }
  .cart-list .cart-item {
    display: flex;
    align-items: center;
    gap: 0 16px;
    height: 52px;
  }
  .cart-list img[alt="product thumbnail"] {
    height: 100%;
    border-radius: 4px;
  }
  .cart-list p {
    font-size: 1rem;
    color: #69707D;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    margin-right: auto;
  }
  .cart-list strong {
    color: #1D2026;
  }
  main {
    margin: 48px 80px 0 80px;
  }
  .product-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: 290px;
  }
  .carousel-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .carousel-buttons span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    cursor: pointer;
  }
  .carousel-buttons img {
    width: 10px;
  }
  .product-slide {
    width: 100%;
    display: flex;
  }
  .product-slide img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  .thumbnail-container {
    display: none;
  }
  .product-slide img:nth-child(1) {
    object-position: 0 -200px;
  }
  .product-slide img:nth-child(4) {
    object-position: 0 -70px;
  }
  article {
    margin: 48px 0 0 0;
    padding-bottom: 70px;
  }
  article span.caption {
    font-size: 0.812rem;
    color: #69707D;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 1.85px;
    display: inline-block;
    margin-bottom: 24px;
  }
  article h2 {
    font-size: 2.75rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
    margin-bottom: 24px;
  }
  article p {
    font-size: 1rem;
    color: #69707D;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    margin-bottom: 24px;
  }
  .price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 24px;
    margin-bottom: 24px;
  }
  .price ins {
    font-size: 1.75rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
  }
  .price span {
    font-size: 1rem;
    color: white;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    display: inline-block;
    background-color: #1D2026;
    width: 51px;
    height: 27px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }
  .price del {
    font-size: 1rem;
    color: #69707D;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    width: 100%;
  }
  .input-button {
    display: flex;
    gap: 0 8px;
  }
  .input-button .input-container,
  .input-button button {
    flex-basis: 50%;
  }
  .input-container {
    display: flex;
    align-items: center;
    padding: 15px 18.5px 15px 18.5px;
    background-color: #F6F8FD;
    border-radius: 10px;
  }
  .input-container input {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    width: 100%;
    border: none;
    text-align: center;
    background-color: #F6F8FD;
  }
  .input-container span {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  button {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 16px;
    border: none;
    height: 56px;
    background-color: #FF7E1B;
    border-radius: 10px;
    cursor: pointer;
  }
  button img {
    filter: brightness(0) saturate(100%) invert(11%) sepia(2%) saturate(3189%) hue-rotate(175deg) brightness(100%) contrast(95%);
  }
  .overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 64.063rem) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    display: flex;
    position: relative;
    padding: 28px 80px 0 80px;
    padding-bottom: 32px;
    max-width: 1270px;
    width: 100%;
  }
  header img[alt="menu icon"],
  header img[alt="close menu icon"] {
    display: none;
  }
  header h1 {
    height: 20px;
    overflow: hidden;
    margin-right: 56px;
  }
  header h1 img {
    position: relative;
    top: -13px;
  }
  header img[alt="user image"] {
    width: 48px;
    margin-left: 48px;
    border: solid 2px #FF7E1B;
    border-radius: 999px;
  }
  header nav {
    display: flex;
    gap: 0 32px;
    background-color: white;
    margin-right: auto;
  }
  header nav img {
    width: 13.44px;
    margin-bottom: 32px;
  }
  header nav a {
    font-size: 0.937rem;
    color: #69707D;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
  }
  header nav a:hover {
    color: #1D2026;
  }
  header::after {
    content: "";
    width: calc(100% - 160px);
    height: 1px;
    background-color: #E4E9F2;
    position: absolute;
    top: 100%;
    left: 80px;
  }
  nav a {
    position: relative;
  }
  nav a:hover::after,
  nav a:active::after {
    content: "";
    position: absolute;
    top: calc(100% + 40px);
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #FF7E1B;
  }
  .basket-card {
    position: absolute;
    z-index: 4;
    top: calc(100% - 16px);
    left: calc(100% - 380px);
    min-width: 370px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 50px 0 rgba(29, 32, 38, 0.1);
  }
  .basket-card h3 {
    font-size: 1rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    margin: 24px 12px 23px 12px;
  }
  .basket-card hr {
    border: none;
    height: 1px;
    background-color: #F6F8FD;
  }
  .basket-card .cart-list {
    padding: 25px 25.5px 24px 25.5px;
  }
  .basket-card button {
    width: calc(100% - 48px);
    margin: 0 24px 25px 24px;
  }
  .cart-list {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }
  .cart-list .cart-item {
    display: flex;
    align-items: center;
    gap: 0 16px;
    height: 52px;
  }
  .cart-list img[alt="product thumbnail"] {
    height: 100%;
    border-radius: 4px;
  }
  .cart-list p {
    font-size: 1rem;
    color: #69707D;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    margin-right: auto;
  }
  .cart-list strong {
    color: #1D2026;
  }
  main {
    margin: 96px 72.5px 0 72.5px;
    padding-bottom: 128px;
    max-width: 1021px;
  }
  main section {
    display: grid;
    grid-template: auto/repeat(2, 1fr);
    gap: 0 128px;
  }
  .carousel-buttons {
    display: none;
  }
  .product-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 448px;
  }
  .product-slide {
    display: flex;
    border-radius: 15px;
    margin-bottom: 32px;
    cursor: pointer;
  }
  .product-slide img {
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
  }
  .thumbnail-container {
    display: flex;
    justify-content: space-between;
    height: 88px;
    gap: 0 0;
  }
  .thumbnail-container img {
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  article span.caption {
    font-size: 0.812rem;
    color: #69707D;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 1.85px;
    display: inline-block;
    margin-bottom: 24px;
  }
  article h2 {
    font-size: 2.75rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
    margin-bottom: 32px;
  }
  article p {
    font-size: 1rem;
    color: #69707D;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    margin-bottom: 32px;
  }
  .price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 24px;
    margin-bottom: 32px;
  }
  .price ins {
    font-size: 1.75rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
  }
  .price span {
    font-size: 1rem;
    color: white;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    display: inline-block;
    background-color: #1D2026;
    width: 51px;
    height: 27px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }
  .price del {
    font-size: 1rem;
    color: #69707D;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    width: 100%;
  }
  .input-button {
    display: flex;
    gap: 0 16px;
  }
  .input-button .input-container {
    flex-basis: 157px;
  }
  .input-button button {
    flex-basis: 66%;
  }
  .input-container {
    display: flex;
    align-items: center;
    padding: 15px 18.5px 15px 18.5px;
    background-color: #F6F8FD;
    border-radius: 10px;
  }
  .input-container input {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    width: 100%;
    border: none;
    text-align: center;
    background-color: #F6F8FD;
  }
  .input-container span {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  button {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    color: #1D2026;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 16px;
    border: none;
    height: 56px;
    background-color: #FF7E1B;
    border-radius: 10px;
    cursor: pointer;
  }
  button img {
    filter: brightness(0) saturate(100%) invert(11%) sepia(2%) saturate(3189%) hue-rotate(175deg) brightness(100%) contrast(95%);
  }
}
.empty {
  font-size: 1rem;
  color: #69707D;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 133px;
  padding-bottom: 24px;
}

.light-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.light-box img[alt="close menu icon"] {
  position: relative;
  top: 0;
  left: 218px;
  margin-bottom: 24px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(154deg) brightness(106%) contrast(102%);
  cursor: pointer;
}
.light-box .product-slide {
  cursor: inherit;
}
.light-box .thumbnail-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 0 0;
  width: 100%;
  height: 88px;
}
.light-box .thumbnail-container img {
  height: 100%;
}

.hide {
  display: none;
}

.thumbnail-selected {
  position: relative;
  display: block;
  border: solid 2px #FF7E1B;
  outline: 42px solid rgba(255, 255, 255, 0.5);
  outline-offset: -50px;
}

button {
  box-shadow: 0 20px 50px 0 rgba(255, 126, 27, 0.25);
}

/*# sourceMappingURL=styles.css.map */
